body{
    background-image: url("../images/background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh;
}

button:focus { 
    outline-style: none; 
}

/* ----------------------------------------- Header */

.header {
    background-image: url("../images/slot-machine/multipliers_background.png");
    background-size: cover;
    
}

.header-line{
    margin: 0;
    padding: 0;
}

.logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: 100%;
}

.menu{
    margin: 0;
    padding: 0;
}

.menu li{
    text-decoration: none;
    font-family: 'Itim', cursive;
    
    display: inline-block;
    background: rgb(69,8,79);
    background: linear-gradient(180deg, rgba(69,8,79,1) 12%, rgba(111,8,129,1) 84%);
    width: 32%;
    padding: 5px;
    border-top-left-radius: 10px;   
}

.menu>li>a{
  font-size: 16pt;
  color: rgb(255, 255, 255);
  display: inline-block;      
}

.menu>li>a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow:3px 0px 0px rgb(2, 4, 2);
}

#active-menu{
    background: rgb(50,172,5);
    background: linear-gradient(180deg, rgba(50,172,5,1) 10%, rgba(88,205,3,1) 64%, rgba(112,194,4,1) 100%);
}

.content{
    background-image: url("../images/slot-machine/multipliers_background.png");
    background-size: cover;
}

/* ---------- Header for phones */
@media only screen and (max-width: 767px) {
    .menu>li>a{
        font-size: 12pt;   
      }
}

/* ----------------------------------------- INDEX */